:root {
  --mobility_icon_outer: 1.5rem;
}

.menu-btn{
  cursor: pointer;
}

.menu-link{
  text-decoration: none !important;
}

.menu-link div{
  padding-top: 5px;
  padding-bottom: 5px;
}


.menu-drawer .MuiDrawer-paperAnchorLeft{
  padding-top: 2rem;
  width: 17rem;
}

.menu-drawer .MuiDrawer-paperAnchorLeft ul div .MuiListItemText-root .MuiListItemText-primary{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.54) !important;
}

.menu-drawer .MuiDrawer-paperAnchorLeft ul div:hover .MuiListItemText-root  .MuiListItemText-primary{
  color: rgb(63, 81, 181) !important;
}

.menu-drawer .MuiDrawer-paperAnchorLeft ul div:hover .menu-icon svg{
  fill: rgb(63, 81, 181) !important;
}

.weather-container{
  margin: 0; 
}

.weather-container li img{
  width: 30px;
  margin-left: 2rem;
}

.weather-container li span{
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}


.MuiTypography-body2{
  font-size: 0.915rem !important;
}

.trip-icon{
  background-color: transparent !important;
  color: #bdbdbd !important;
}

.trip-top-border {
  position: fixed;
  top: 15rem;
  z-index: 1000;
  background-color: brown;
}

.trips-container{
  position: relative;
  overflow-y: scroll !important;
  height: 100vh;
}

.trips-container::-webkit-scrollbar-button {display:none}

.trips-container::-webkit-scrollbar {
  /* background-color:#fff; */
  width:16px;
  height: 200px;
}

.trips-container::-webkit-scrollbar-track {
  margin-top: 1rem;
  /* background-color:#fff; */
}

.trips-container::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:5px solid #fff
}

.loading-icon{
  position: absolute;
  top: 30%;
  left: 30%;
}

.mobility-icon{
  margin: 0 !important;
}

.mobility-outer-circle{
  background-color: white;
  font-size: var(--mobility_icon_outer);
  position: relative;
}

.mobility-outer-circle i{
  font-size: calc(var(--mobility_icon_outer) - .5rem);
  position: absolute;
  top: 3.2px;
  left: 3.5px;
}
.collapsible-header{
  display: block !important;
  border-bottom: none !important;
  background-color: #fff;
}

.collapsible-header .MuiCardHeader-root{
  padding: 0 !important;
}

.passenger-trip-card .collapsible-body{
  padding: 0 !important;
}

.collapsible{
  box-shadow: none !important;
  border: none !important;
}

.navigation-date-picker {
  max-width: 150px !important;
}


.no-trip-title{
  position: absolute;
  top: 20px;
  left: 20%;
}



.navigation-date-picker .MuiInput-underline:before {
  border-bottom: none !important;
}

.navigation-date-picker div input{
  margin: 0 !important;
  border-bottom: none !important;
}


.vertical-btn:focus{
  background-color: transparent;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.trip-card{
  box-shadow: none !important;
}

.trip-filter input, .trip-filter input:focus, .trip-filter input:active{
  border-bottom: none !important;
}

.filter-and-addTrip-btns{
  position: absolute;
  right: 0;
  bottom: 10rem;
}

.auto-complete-wrapper-div i{
  position: absolute;
  top: 12px;
}

.auto-complete-wrapper-div div input{
  padding-left: 30px !important;
}

.auto-complete-input{
  display: relative;
}

.confirmation-section-wrapper{
  position: relative;
}

.confirmation-section-wrapper .main-header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.confirmation-section-wrapper{
  overflow-y: scroll !important;
  max-height: 47rem;
  padding-bottom: 5rem;
}

.confirmation-collection {
  border: none !important;
}

.confirmation-collection h2{
  font-size: 12px !important;
}

.confirmation-collection li{
  border: 1px solid #e0e0e0 !important;
  border-bottom: none !important;
}

.confirmation-collection li:last-child{
  border-bottom: 1px solid #e0e0e0 !important;
}

.confirmation-collection li:nth-child(1){
  border-style: none !important;
}

.autocomplete-dropdown-container{
  display: absolute !important;
  background: tomato !important;
  top:0;
  bottom:22px;
}

.timepicker-modal, .datepicker-modal{
  max-height: 347px !important;
  overflow: hidden !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.nav-bar{
  background-color: #fff;
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.change-focus i:focus{
  background-color: blue;
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.side-bar{
  border-right: 1px solid #ccc;
  height: 100vh;
}

.notification-bar{
  width: 64vw;
  padding: 6px 0;
}

.full-screen-icon-container{
  background-color: blue;
}


.mapStyles{
  background: #ccc;
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 767px) {
  .mapStyles {
    background: lightblue;
    height: 40vh;
  }

  .notification-bar{
    width: 100%;
    padding-right: 10px;
  }
  
}