.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-bar{
  border-bottom: 2px solid #ccc;
}

.side-bar{
  border-right: 2px solid #ccc;
  height: 100vh;
}

.notification-bar{
  width: 64vw;
  padding: 6px 0;
}

.full-screen-icon-container{
  background-color: blue;
}


.mapStyles{
  background: #ccc;
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 767px) {
  .mapStyles {
    background: lightblue;
    height: 40vh;
  }

  .notification-bar{
    width: 100%;
    padding-right: 10px;
  }
  
}